<!DOCTYPE html>
<html lang="en">
<head>
    <style>
    .header-image{
        width: 100%;
        height: 50vh;
        background-image: url({{image}});
        background-size: cover;
    }

    html{     
        background-color: #1F1F1F; 
        color: white; 
        padding: 0; 
        margin: 12px 24px;
        font-family: 'Roboto Mono', monospace; 
        box-sizing: border-box; 
      }

    .about-text{
        text-decoration: none;
        color: aquamarine;
    }  
    </style>
    <title>{{name}}</title>
</head>
<body>
    <div class="header-image">
    </div>
    <h1>{{title}}</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Necessitatibus hic quae, debitis commodi maiores modi placeat quis doloribus tempore, repellendus eveniet aut iusto! Incidunt tempora dicta quasi autem. Autem ipsa esse voluptatum nostrum fuga cupiditate dolorem expedita maiores iusto omnis.</p>

    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique illum placeat optio, eligendi, praesentium voluptate illo incidunt debitis quibusdam distinctio repudiandae, facilis veniam? Doloribus tempora deserunt saepe quia unde, repellendus modi distinctio explicabo accusantium recusandae consequuntur pariatur commodi ad ullam, soluta reiciendis nam? Earum quos nulla vero! Doloremque, facere eveniet!</p>
    
    <hr>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta unde voluptates itaque, nulla odit inventore sunt voluptate officia placeat repudiandae.
    </p>
    <a href="/" class="about-text">back to home</a>
</body>
</html>