<head>
    <link rel="stylesheet" href="/home.css">
</head>
<h1>
    Tech Capsules
</h1>
<p>
    "Tech Capsules" is a project that aims to make science and technology accessible to everyone. The goal of the project is to share knowledge about the latest advancements and trends in science and technology in a way that is easy to understand and engaging for a broad audience.
</p>